<!-- Header section -->
<header>
    <div class="container-fluid d-flex align-items-center justify-content-between" style="margin: 8px 0;">

        <!-- Left section -->
        <div class="d-flex align-items-center">
            <!-- Logo -->
            <a href="/">
                <img src="../static/icons/scalable.svg" alt="Logo" style="height: 100px; margin-right: 15px;">
            </a>
            <!-- Text beside the logo -->
            <div class="d-flex flex-column">
                <h2 class="mb-1">AI-powered GCSE Computer Science Learning Portal</h2>
                <p class="mb-0">
                    Search for GCSE learning material, get relevant news and offline material all in one place!
                </p>
            </div>
        </div>

        <!-- Offcanvas menu button on the right -->
        <a class="d-flex" data-bs-target="#offcanvas-menu" data-bs-toggle="offcanvas" style="cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-list text-body" style="font-size: 48px;">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"></path>
            </svg>
        </a>
    </div>
</header>