<!-- Offcanvas menu -->
<div class="offcanvas offcanvas-end d-lg-flex" tabindex="-1" id="offcanvas-menu" data-bs-theme="dark">
    <div class="offcanvas-body d-flex flex-column justify-content-between pt-0">
        <div>
            <hr class="mt-0">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item"><a class="nav-link link-body-emphasis" href="/index">Home</a></li>
                <li class="nav-item"><a class="nav-link link-body-emphasis" href="/how-to-use">How to use</a></li>
                <li class="nav-item"><a class="nav-link link-body-emphasis" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link link-body-emphasis" href="/news">CS in the news</a></li>
                <li class="nav-item"><a class="nav-link link-body-emphasis" href="/learn-offline">Learn CS offline</a></li>
                <li class="nav-item"><a class="nav-link link-body-emphasis" href="/feedback">Feedback</a></li>
                <li class="nav-item"><a class="nav-link link-body-emphasis" href="/legal">Legal info</a></li>
            </ul>
        </div>

        <!-- Account section -->
        <div>
            <hr>
            <div class="dropdown">
                <a class="dropdown-toggle link-body-emphasis d-flex align-items-center text-decoration-none" aria-expanded="false" data-bs-toggle="dropdown" role="button">
                    <img class="rounded-circle me-2" alt="" width="32" height="32"
                         src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" style="object-fit: cover;">
                    <strong>My account</strong>&nbsp;
                </a>
                <div class="dropdown-menu shadow text-small">
                    <a class="dropdown-item" href="/profile">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/sign-out">Sign out</a>
                </div>
            </div>
        </div>
    </div>
</div>
