{% extends "base.html" %}

{% block title %}
About - CS Learning Portal
{% endblock %}

{% block content %}
<!-- Main content section -->
<section class="py-5 bg-light mb-4">
    <div class="container">
        <h2 class="display-6">What is the AI-powered Computer Science Learning Portal?</h2>
    </div>
</section>
<div class="container">
    <p>
                <span style="color: rgb(0, 0, 0);">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus ante, tristique eu dapibus id, suscipit molestie nisl. Nullam eget ligula sit amet odio porttitor laoreet. Donec porttitor elit quis urna porttitor, in scelerisque neque pretium. Quisque aliquam bibendum justo, non maximus lorem ornare sed. Nam ac turpis eu urna varius scelerisque. Aliquam malesuada fringilla felis, in luctus ante posuere sit amet. Curabitur pretium, odio non dapibus pharetra, ipsum leo tincidunt leo, non maximus purus urna at sem.&nbsp;
                </span>
    </p>
    <p>
                <span style="color: rgb(0, 0, 0);">
                    Morbi semper vel nibh id volutpat. Pellentesque fermentum pharetra orci sit amet molestie. Quisque accumsan at purus quis venenatis. Sed sodales finibus malesuada. Quisque luctus erat nisl, non dignissim diam gravida non. Etiam convallis feugiat mi. Vestibulum nec tincidunt elit. Praesent egestas lacus neque, et volutpat magna hendrerit vitae. Sed nec risus mauris. Integer ullamcorper bibendum nisi in lacinia.
                </span>
    </p>
</div>
{% endblock %}