{% extends "base.html" %}

{% block title %}
History - CS Learning Portal
{% endblock %}

{% block content %}
<!-- Main content section -->
<section class="py-5 bg-light mb-4">
    <div class="container">
        <h2 class="display-6">Previous queries</h2>
    </div>
</section>
<div class="container">
    <!-- Placeholder text describing previous queries -->
    <p>
                <span style="color: rgb(0, 0, 0);">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lectus ante, tristique eu dapibus id, suscipit molestie nisl. Nullam eget ligula sit amet odio porttitor laoreet. Donec porttitor elit quis urna porttitor, in scelerisque neque pretium. Quisque aliquam bibendum justo, non maximus lorem ornare sed. Nam ac turpis eu urna varius scelerisque. Aliquam malesuada fringilla felis, in luctus ante posuere sit amet. Curabitur pretium, odio non dapibus pharetra, ipsum leo tincidunt leo, non maximus purus urna at sem.&nbsp;
                </span>
    </p>
</div>
{% endblock %}