{% extends "base.html" %}

{% block title %}
Profile - CS Learning Portal
{% endblock %}

{% block content %}
<!-- Main content section -->
<section class="py-5 bg-light mb-4">
    <div class="container">
        <h2 class="display-6">My profile</h2>
    </div>
</section>
<div class="container">
    <!-- Profile icon -->
    <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-fill">
            <!-- Path to render the user profile icon -->
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
        </svg>
    </div>
    <!-- Display email address -->
    <p>{email address}</p>
    <!-- Link to change password -->
    <div><a class="link-dark" href="#">Change password</a></div>
    <hr>
    <!-- Link to search history -->
    <div><a class="link-dark" href="/history">Search history</a></div>
    <!-- Link to customize news feed -->
    <div><a class="link-dark" href="/news">Customise news feed</a></div>
</div>

<!-- Sign-out button -->
<div class="container">
    <hr>
    <button class="btn btn-primary" type="button">Sign out</button>
</div>
{% endblock %}