{% extends "base.html" %}

{% block title %}
Sign out - CS Learning Portal
{% endblock %}

{% block content %}
<!-- Signed-out notification section -->
<div class="container">
    <!-- Signed-out heading -->
    <h2>You're now signed out</h2>
    <!-- Description of restrictions while signed out -->
    <p>Note that you won't be able to view or save search history or customise news feed whilst signed out.&nbsp;</p>
</div>

<!-- Links to home and sign-in -->
<div class="container">
    <!-- Link to navigate back to the home page -->
    <a href="/index">Back to home</a>
    <span>&nbsp;or&nbsp;
        <!-- Link to navigate to the sign-in page -->
                <a href="/sign-in">Sign in</a>
                <span>&nbsp;again</span>
            </span>
</div>
{% endblock %}