{% extends "base.html" %}

{% block title %}
Sign in - CS Learning Portal
{% endblock %}

{% block content %}
<!-- Main content section -->
<section class="py-5 bg-light mb-4">
    <div class="container">
        <h2 class="display-6">Sign in</h2>
    </div>
</section>
<div class="container">
    <section class="position-relative py-4 py-xl-5">
        <!-- Card container for login form -->
        <div class="card mb-5">
            <div class="card-body d-flex flex-column align-items-center">
                <!-- Profile icon above the login form -->
                <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-fill">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"></path>
                    </svg>
                </div>
                <!-- Login form -->
                <form class="text-center" method="post">
                    <!-- Email input field -->
                    <div class="mb-3">
                        <input class="form-control" type="email" name="email" placeholder="Email">
                    </div>
                    <!-- Password input field -->
                    <div class="mb-3">
                        <input class="form-control" type="password" name="password" placeholder="Password">
                    </div>
                    <!-- Remember me checkbox -->
                    <div class="form-check text-start">
                        <input class="form-check-input" type="checkbox" id="formCheck-1">
                        <label class="form-check-label" for="formCheck-1">Remember me</label>
                    </div>
                    <!-- Submit button -->
                    <div class="mb-3">
                        <button class="btn btn-primary d-block w-100" type="submit" style="margin-top: 14px;">Login</button>
                    </div>
                    <!-- Forgot password link -->
                    <div>
                        <a class="link-secondary" href="#">Forgot your password?</a>
                    </div>
                    <!-- Sign-up link -->
                    <div style="margin-top: 8px;">
                        <a class="link-secondary" href="#">Don't have an account? Sign up</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}